@media (min-width: 320px) {
  .aside {
    border-right: 1px solid #40404056;
    position: fixed;
    display: flex;
    height: 100%;
    width: 25%;
    padding-top: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      border-radius: 100%;
      background-color: $mainBgColor;
    }
    h1 {
      font-weight: 400;
      text-transform: uppercase;
    }
    .aside_icons {
      a {
        color: #404040;
        &:hover {
          color: #505050;
        }
      }
      font-size: 40px;
    }
  }
  .fa-html5 {
    color: #e54c21;
  }
  .fa-css3-alt {
    color: #214ce5;
  }
  .fa-react {
    color: #61dbfb;
  }
}
