.main_container {
  overflow: scroll;
}

.main_item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  p {
    padding: 10px;
    margin: 0px;
  }
  b{
    font-family: "Roboto", sans-serif;
    color: #404040;
    text-transform: uppercase;
    font-weight: 900;
  }

  .icon_container {
    background-color: $mainBgColor;
    padding: 30px;
    border-radius: 1000px;
    i {
      font-size: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $mainColor;
    }
    &:hover {
      background-color: $mainColor;
      cursor: pointer;
      i {
        color: white;
      }
    }
  }
  .icon_containerNoHover {
    @extend .icon_container;
    &:hover {
      background-color:$mainBgColor;
      cursor: initial;
      i{
        color: $mainColor;
      }
    }
  }
}
