@media (min-width: 320px) {
  .popUp_Box {
    position: absolute;
    .popUp_Modal {
      background-color: rgba(18, 20, 18, 0.842);
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      .popUp_img {
        max-width: 800px;
        position: relative;

        .popUp_img-btn-anterior {
          position: absolute;
          color: white;
          display: flex;
          align-items: center;
          height: 100%;
          left: 25px;
          cursor: pointer;
        }
        .popUp_img-btn-siguiente {
          position: absolute;
          color: white;
          display: flex;
          align-items: center;
          height: 100%;
          right: 25px; 
          cursor: pointer;
        }
        .popUp_img-btn-close {
          color: white;
          position: absolute;
          right: 15px;
          top: 10px;
          cursor: pointer;
          @media (min-width: 768px) {
  right: 30px;
  top: 20px;
          }
        }
      }
    }
  }
  
}
@media (min-width: 768px) {
  
}
.animationLeft1 {
  animation-name: slideLeft1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.animationLeft2 {
  animation-name: slideLeft2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.animationRigth1 {
  animation-name: slideRigth1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.animationRigth2 {
  animation-name: slideRigth2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes slideLeft1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideLeft2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes slideRigth1 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideRigth2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
